.myHeader{
    height:50px;
    background-color: #37B08F;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
  }
  .myButtonHeader{
  
    color:white;
    background-color: #37B08F;
    border:none;
    border-radius: 20px;
    font-size: 20px;
    padding: 15px;
    &:hover{
    
      border: 1px solid white;
      box-shadow: inset 0 -100px 0 -1px #414141;
      transition: box-shadow 1.5s ease-in-out;
    }
    &:active{
      color: #414141;
      border: 1px solid white;
    }
  }
  